@model BookShop.Models.IndexViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p class="text-success">@ViewBag.StatusMessage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        