@{
    ViewBag.Title = "Home Page";
}

<div class="home-page container">
    <div class="home-page__body">
        <div class="hero">
            <div class="hero__inner">
                <div class="hero__categories js-categories-menu">
                    <div class="shop-search-page__filter-wrapper shop-search-page__filter-wrapper--categories">
                        <div class="tickid-shop-collection-filter">
                            <div class="tickid-shop-collection-filter__header">Danh mục</div>
                            <div class="tickid-shop-collection-filter__body">
                                @{ Html.RenderAction("RenderCategory", "Home"); }
                            </div>
                        </div>
                    </div>

                </div>
                <div class="hero__banner hero__banner--columns">
                    <div class="hero__banner-inner">
                        @{ Html.RenderAction("RenderBanner", "Home"); }
                    </div>
                </div>
            </div>
        </div>

        <!-- Promotion Combo -->
        <div class="spacing">
            <div class="_2Vb4g5 card promotion-combo js-promotion-combo">
                <div class="_3hEEfi promotion-combo__header">
                    <div class="_1ahGUN promotion-combo__header-left">
                        <div class="_2ti2Ft promotion-combo__title">Sản phẩm bán chạy </div>
                    </div>
                </div>
                <div class="_2HIeHZ promotion-combo-list js-slider-product-releted">
                    @{ Html.RenderAction("RenderBestSeller", "Home"); }
                </div>
            </div>
        </div>
        <div class="spacing">
            <div class="_2Vb4g5 card promotion-combo js-promotion-combo">
                <div class="_3hEEfi promotion-combo__header">
                    <div class="_1ahGUN promotion-combo__header-left">
                        <div class="_2ti2Ft promotion-combo__title">Sản phẩm mới </div>
                    </div>
                </div>
                <div class="_2HIeHZ promotion-combo-list js-slider-product-releted">
                    @{ Html.RenderAction("RenderNewBook", "Home"); }
                </div>
            </div>
        </div>

        <!-- Categories Hightlight -->
        @{ Html.RenderAction("RenderCategoriesHightlight", "Home"); }

    </div>
</div>