@model IEnumerable<BookShop.Models.Banner>

<div class="hero__banner-carousel js-banner-slider">
    <!--  -->
    @foreach (var item in Model)
    {
        if (item.State == "Dynamic")
        {
            <a
               class="hero__banner-carousel-item">
                <figure class="figure">
                    <img src="~/Areas/Admin/Data/BannerImage/@item.Photo"
                         alt="">
                </figure>
            </a>
        }
    }
</div>

<div class="hero__banner-fixed">
    @foreach (var item in Model)
    {
        if (item.State == "Static" && item.Equals(Model.Last()))
        {
            <div class="hero__banner-fixed-secondary">
                <a
                   class="link">
                    <figure class="figure">
                        <img src="~/Areas/Admin/Data/BannerImage/@item.Photo"
                             alt="">
                    </figure>
                </a>
            </div>
        }
        else if (item.State == "Static")
        {
            <div class="hero__banner-fixed-primary">
                <a
                   class="link">
                    <figure class="figure">
                        <img src="~/Areas/Admin/Data/BannerImage/@item.Photo"
                             alt="">
                    </figure>
                </a>
            </div>
        }
    }
</div>