@model IEnumerable<BookShop.Models.Category>

@foreach (var item in Model)
{
    <div class="tickid-shop-collection-filter__collection ">
        <a class="tickid-shop-collection-filter__collection-link"
           href="/danh-muc/@item.Name?id=@item.Id">@item.Name</a>
    </div>
}