<!DOCTYPE html>
<html lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Mỹ Phẩm Ohui - LG Vina</title>
    <meta http-equiv="REFRESH" content="1800" />
    <meta name="description" content="63 Lê Văn Lương, Trung Hòa, Cầu Giấy, Hà Nội" />
    <link rel="icon" href="../img.abaha.vn/photos/resized/40x40/83-1574737287-myphamohui-lgvina.png" />

    <!-- FACEBOOK OPEN GRAPH -->
    <meta property="fb:app_id" content="2794644853896597" />
    <meta property="og:title" content="Web Bán sách" />
    <meta property="og:site_name" content="Web Bán sách" />
    <meta property="og:url" content="index.html" />
    <meta property="og:description" content="63 Lê Văn Lương, Trung Hòa, Cầu Giấy, Hà Nội" />
    <meta property="og:rich_attachment" content="true" />
    <meta property="article:publisher" content="https://www.facebook.com/MyphamOhuiLGvina" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="../img.abaha.vn/photos/resized/720x480/83-1574737287-myphamohui-lgvina.png" />
    <meta property="og:image:width" content="720" />
    <meta property="og:image:height" content="480" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/slick.css" />
    <link href="~/Content/base.minb5b3.css?t=1620299212" rel="stylesheet">
    <link href="~/Content/mainb5b3.css?t=1620299212" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/all.min.css" />
    <style>
        .tickid-top {
            background: linear-gradient(-180deg, #9c2e3f, #9c2e3f);
        }

        .header-with-search__logo-section > img {
            background-color: #fff;
        }
    </style>

    <style>
        .site-social .btn-call strong {
            display: none !important;
        }
    </style>


    <style>
        .footer__info .powered-by {
            display: none;
        }
    </style> <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJBFBLQ');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93489186-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() { dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('set', { 'user_id': '', 'site_id': '83' });
        gtag('config', 'UA-93489186-4');
    </script>

</head>
<body ontouchstart class="">
    <div id="main" class="module--tickid">
        <div>
            <div class="tickid-progress-bar tickid-progress-bar--reset" style="will-change: auto;"></div>
            <div class="tickid-page-wrapper">
                <div class="tickid-top container-wrapper js-header">
                    <div class="navbar-wrapper container-wrapper header__top js-header-top">
                        <div class="container navbar">
                            <div class="navbar__spacer header__top-navbar__spacer"></div>
                            <ul class="navbar__links">
                                <li class="navbar__link navbar__link--tappable navbar__link--hoverable navbar__link-text navbar__link-text--medium">
                                    <a href="auth/login.html" class="link js-register-link">Đăng ký</a>
                                </li>
                                <li class="navbar__link navbar__link--separator">
                                    <div class="navbar__link-separator"></div>
                                </li>
                                <li class="navbar__link navbar__link--tappable navbar__link--hoverable navbar__link-text navbar__link-text--medium">
                                    <a href="auth/login.html" class="link js-login-link">Đăng nhập</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container-wrapper header-with-search-wrapper">
                        <div class="container header-with-search">
                            <a class="header-with-search__logo-section" href="/">
                                <img src="logo.png"
                                     alt="logo" />
                            </a>
                            <div class="header-with-search__search-section hidden-xs">
                                <div class="tickid-searchbar js-searchbar">
                                    <div class="tickid-searchbar__main">
                                        <form role="search" class="tickid-searchbar-input" autocomplete="off"
                                              action="http://demo.shop.tickid.vn/all" method="GET">
                                            <input aria-label="Tìm kiếm sản phẩm"
                                                   class="tickid-searchbar-input__input js-searchbar-input" maxlength="128"
                                                   placeholder="Tìm kiếm..." autocomplete="off" value="" name="s">
                                        </form>
                                        <div class="tickid-popover tickid-searchbar-list js-searchbar-list"
                                             style="position: absolute; top: 34px; left: 0px; z-index: 600;">
                                            <div class="tickid-searchbar-hints">
                                                <div class="tickid-searchbar-hints__header js-searchbar-list-header">
                                                    <span class="tickid-searchbar-hints__header__text">
                                                        Lịch sử Tìm
                                                        kiếm
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <button type="button"
                                            class="btn btn-solid-primary btn--s btn--inline js-submit-search-bar">
                                        <svg class="tickid-svg-icon " height="19" viewBox="0 0 19 19" width="19">
                                            <g fill-rule="evenodd" stroke="none" stroke-width="1">
                                                <g transform="translate(-1016 -32)">
                                                    <g>
                                                        <g transform="translate(405 21)">
                                                            <g transform="translate(611 11)">
                                                                <path d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z">
                                                                </path>
                                                                <path d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z">
                                                                </path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="header-with-search__cart-wrapper">
                                @{ Html.RenderAction("_RenderCart", "Home"); }
                            </div>
                            <ul class="header__navbar header__navbar--mobile">
                                <li class="header__navbar-link">
                                    <a href="#" class="icon-search js-toggle-header-menu"
                                       data-target="header-menu-user">
                                        <figure class="header__navbar-user-avatar figure">
                                            <img src="assets/images/avatar-default.png" alt="avatar">
                                        </figure>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="header-menu header-menu--categories js-header-menu" id="header-menu-categories">
                    <div class="header-menu__wrapper js-header-menu-wrapper">
                        <div class="header-menu__content">
                            <ul class="header-menu__list">
                                <li class="header-menu__item ">
                                    <a href="all.html" class="header-menu__item-link">Tất Cả Sản Phẩm</a>
                                </li>
                            </ul>
                            <ul class="categories js-categories ">
                                <li class="category js-category category--has-children">
                                    <a href="danh-muc/2644-ohui.html" class="category__link">
                                        Ohui<svg x="0px" y="0px"
                                                 viewBox="0 0 512 512"
                                                 class="tickid-svg-icon category__link-icon js-category-link-icon">
                                            <g>
                                                <g>
                                                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284 l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284 c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701 C391.333,275.032,391.333,236.967,367.954,213.588z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="categories js-categories ">
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-thefirst-tai-sinh.html"
                                               class="category__link">Ohui Thefirst Tái Sinh </a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-duong-trang.html"
                                               class="category__link">Ohui Dưỡng Trắng</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-prime-advancer.html"
                                               class="category__link">Ohui Prime Advancer</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-duong-am.html"
                                               class="category__link">Ohui Dưỡng Ẩm</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-chong-lao-hoa.html"
                                               class="category__link">Ohui Chống Lão Hóa</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-make-up.html"
                                               class="category__link">Ohui Make Up</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/ohui-chong-nang.html"
                                               class="category__link">Ohui Chống Nắng</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="category js-category category--has-children">
                                    <a href="danh-muc/whoo.html"
                                       class="category__link">
                                        Whoo<svg x="0px" y="0px" viewBox="0 0 512 512"
                                                 class="tickid-svg-icon category__link-icon js-category-link-icon">
                                            <g>
                                                <g>
                                                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284 l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284 c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701 C391.333,275.032,391.333,236.967,367.954,213.588z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="categories js-categories ">
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-bichup.html"
                                               class="category__link">Whoo Bichup</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-duong-am.html"
                                               class="category__link">Whoo Dưỡng Ẩm</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-duong-trang-tri-nam.html"
                                               class="category__link">Whoo Dưỡng Trắng Trị Nám</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-cap-nuoc-chong-oxy-hoa.html"
                                               class="category__link">Whoo cấp nước chống oxy hóa</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-make-up.html"
                                               class="category__link">Whoo Make Up</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-tai-sinh.html"
                                               class="category__link">Whoo Tái Sinh</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-chong-nang.html"
                                               class="category__link">Whoo Chống Nắng</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-spa.html"
                                               class="category__link">Whoo Spa</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-chong-lao-hoa.html"
                                               class="category__link">Whoo Chống Lão Hóa</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/whoo-hoan-luu-cao.html"
                                               class="category__link">Whoo Hoàn Lưu Cao</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="category js-category category--has-children">
                                    <a href="danh-muc/sum37.html"
                                       class="category__link">
                                        Su:m37<svg x="0px" y="0px" viewBox="0 0 512 512"
                                                   class="tickid-svg-icon category__link-icon js-category-link-icon">
                                            <g>
                                                <g>
                                                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284 l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284 c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701 C391.333,275.032,391.333,236.967,367.954,213.588z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="categories js-categories ">
                                        <li class="category js-category">
                                            <a href="danh-muc/sum37-tai-sinh.html"
                                               class="category__link">Su:m37 Tái Sinh</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/smm37-chong-lao-hoa.html"
                                               class="category__link">Sm:m37 Chống Lão Hóa </a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/smm37-duong-trang.html"
                                               class="category__link">Sm:m37 Dưỡng Trắng </a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/sum37-cap-am-water-full.html"
                                               class="category__link">Su:m37 cấp ẩm water full </a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/sum37-lam-sach.html"
                                               class="category__link">Su:m37 Làm Sạch </a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/sum37chong-nang-sun-away.html"
                                               class="category__link">Su:m37 Chống Nắng Sun Away</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/sum37-make-up.html"
                                               class="category__link">Su:m37 Make Up</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="category js-category category--has-children">
                                    <a href="danh-muc/set-mini.html"
                                       class="category__link">
                                        Set mini<svg x="0px" y="0px" viewBox="0 0 512 512"
                                                     class="tickid-svg-icon category__link-icon js-category-link-icon">
                                            <g>
                                                <g>
                                                    <path d="M367.954,213.588L160.67,5.872c-7.804-7.819-20.467-7.831-28.284-0.029c-7.819,7.802-7.832,20.465-0.03,28.284 l207.299,207.731c7.798,7.798,7.798,20.486-0.015,28.299L132.356,477.873c-7.802,7.819-7.789,20.482,0.03,28.284 c3.903,3.896,9.016,5.843,14.127,5.843c5.125,0,10.25-1.958,14.157-5.873l207.269-207.701 C391.333,275.032,391.333,236.967,367.954,213.588z" />
                                                </g>
                                            </g>
                                        </svg>
                                    </a>
                                    <ul class="categories js-categories ">
                                        <li class="category js-category">
                                            <a href="danh-muc/set-ohui-mini.html"
                                               class="category__link">Set Ohui Mini</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/set-whoo-mini.html"
                                               class="category__link">Set Whoo Mini</a>
                                        </li>
                                        <li class="category js-category">
                                            <a href="danh-muc/set-sum37-mini.html"
                                               class="category__link">Set Su:m37 Mini</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="category js-category">
                                    <a href="danh-muc/thuc-pham-chuc-nang.html"
                                       class="category__link">Thực Phẩm Chức Năng</a>
                                </li>
                                <li class="category js-category">
                                    <a href="danh-muc/dich-vu.html"
                                       class="category__link">Dịch Vụ</a>
                                </li>
                            </ul>
                            <ul class="header-menu__list">
                                <li class="header-menu__item ">
                                    <a href="tin-tuc.html" class="header-menu__item-link">Tin tức</a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="tin-tuc/trung-tam-tro-giup.html" class="header-menu__item-link">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu__overlay js-header-menu-overlay"></div>
                </div>

                <div class="header-menu js-header-menu" id="header-menu-user">
                    <div class="header-menu__wrapper js-header-menu-wrapper">
                        <div class="header-menu__content">
                            <ul class="header-menu__list">
                                <li class="header-menu__item">
                                    <div class="header-menu__item-content">
                                        <a href="index.html"
                                           class="header-menu__item-link header-menu__item-link--avatar">
                                            <div class="header-menu__user-info">
                                                <figure class="figure avatar">
                                                    <img src="assets/images/avatar-default.png" alt="">
                                                </figure>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                                <li class="header-menu__item header-menu__item--list-button">
                                    <a href="auth/login.html"
                                       class="btn btn-login header-menu__item-link js-login-link">Đăng nhập</a>
                                    <a href="auth/login.html"
                                       class="btn btn-register header-menu__item-link js-register-link">Đăng ký</a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="tin-tuc.html" class="header-menu__item-link">Tin tức</a>
                                </li>
                                <li class="header-menu__item">
                                    <a href="cart.html" class="header-menu__item-link">Giỏ hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu__overlay js-header-menu-overlay"></div>
                </div>


                <div class="header-search js-header-search" id="header-search">
                    <div class="header-search__wrapper">
                        <div class="header-search__content">
                            <div class="tickid-searchbar js-searchbar">
                                <div class="tickid-searchbar__main">
                                    <form role="search" class="tickid-searchbar-input" autocomplete="off"
                                          action="http://demo.shop.tickid.vn/all" method="GET">
                                        <input aria-label="Tìm kiếm"
                                               class="tickid-searchbar-input__input js-searchbar-input" maxlength="128"
                                               placeholder="Tìm kiếm..." autocomplete="off" value="" name="s">
                                    </form>
                                    <div class="tickid-searchbar-selector js-searchbar-selector">
                                        <div class="tickid-drawer js-select">
                                            <div class="tickid-searchbar-selector__selected js-current" value="1">
                                                <div class="tickid-searchbar-selector__selected-label js-current-label">
                                                    Cửa hàng
                                                </div>
                                                <svg class="tickid-svg-icon icon-arrow-down"
                                                     enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0">
                                                    <g>
                                                        <path d="m11 2.5c0 .1 0 .2-.1.3l-5 6c-.1.1-.3.2-.4.2s-.3-.1-.4-.2l-5-6c-.2-.2-.1-.5.1-.7s.5-.1.7.1l4.6 5.5 4.6-5.5c.2-.2.5-.2.7-.1.1.1.2.3.2.4z">
                                                        </path>
                                                    </g>
                                                </svg>
                                            </div>
                                            <div class="tickid-drawer__contents" style="right: 0px;">
                                                <div class="tickid-searchbar-selector__options">
                                                    <div class="tickid-searchbar-selector__option js-option active">
                                                        <div class="tickid-searchbar-selector__option-label js-option-label">
                                                            Cửa hàng
                                                        </div>
                                                        <svg class="tickid-svg-icon tickid-searchbar-selector__option-tick icon-tick"
                                                             enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0"
                                                             y="0">
                                                            <g>
                                                                <path d="m6.5 13.6c-.2 0-.5-.1-.7-.2l-5.5-4.8c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l4.7 4 6.8-9.4c.3-.4.9-.5 1.4-.2.4.3.5 1 .2 1.4l-7.4 10.3c-.2.2-.4.4-.7.4 0 0 0 0-.1 0z">
                                                                </path>
                                                            </g>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tickid-popover tickid-searchbar-list js-searchbar-list"
                                         style="position: absolute; top: 34px; left: 0px; z-index: 600;">
                                        <div class="tickid-searchbar-hints">
                                            <div class="tickid-searchbar-hints__header js-searchbar-list-header">
                                                <span class="tickid-searchbar-hints__header__text">
                                                    Lịch sử Tìm
                                                    kiếm
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button"
                                        class="btn btn-solid-primary btn--s btn--inline js-submit-search-bar">
                                    <svg class="tickid-svg-icon " height="19" viewBox="0 0 19 19" width="19">
                                        <g fill-rule="evenodd" stroke="none" stroke-width="1">
                                            <g transform="translate(-1016 -32)">
                                                <g>
                                                    <g transform="translate(405 21)">
                                                        <g transform="translate(611 11)">
                                                            <path d="m8 16c4.418278 0 8-3.581722 8-8s-3.581722-8-8-8-8 3.581722-8 8 3.581722 8 8 8zm0-2c-3.3137085 0-6-2.6862915-6-6s2.6862915-6 6-6 6 2.6862915 6 6-2.6862915 6-6 6z">
                                                            </path>
                                                            <path d="m12.2972351 13.7114222 4.9799555 4.919354c.3929077.3881263 1.0260608.3842503 1.4141871-.0086574.3881263-.3929076.3842503-1.0260607-.0086574-1.414187l-4.9799554-4.919354c-.3929077-.3881263-1.0260608-.3842503-1.4141871.0086573-.3881263.3929077-.3842503 1.0260608.0086573 1.4141871z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main js-main">
                    <div class="main-content">
                        @RenderBody()
                        <hr />
                        <footer class="_3hdpJC footer mw100-lg">
                            <div class="_2KaIm4">
                                <div class="_1cuZND footer__menu">
                                    <div class="_2F-jVh footer__menu-content">
                                        <div class="_1cJlGq footer__menu-column">
                                            <div class="_3T6zcT footer__menu-column-title">Chăm sóc khách hàng</div>
                                            <ul class="_1EeFJI footer__menu-column-list">
                                                <li class="_2tLfDF">
                                                    <a href="trung-tam-tro-giup.html"
                                                       class="_2TLzdl">Trung tâm trợ giúp</a>
                                                </li>
                                                <li class="_2tLfDF">
                                                    <a href="huong-dan-mua-hang.html"
                                                       class="_2TLzdl">Hướng dẫn mua hàng</a>
                                                </li>
                                                <li class="_2tLfDF">
                                                    <a href="chinh-sach-van-chuyen.html"
                                                       class="_2TLzdl">Chính sách vận chuyển</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="_1cJlGq footer__menu-column">
                                            <div class="_3T6zcT footer__menu-column-title">Về Chúng tôi</div>
                                            <ul class="_1EeFJI footer__menu-column-list">
                                                <li class="_2tLfDF">
                                                    <a href="gioi-thieu.html" class="_2TLzdl">
                                                        Giới thiệu
                                                        về Mỹ Phẩm Ohui - LG Vina
                                                    </a>
                                                </li>
                                                <li class="_2tLfDF">
                                                    <a href="index.html" class="_2TLzdl">
                                                        Chính sách
                                                        thanh toán
                                                    </a>
                                                </li>
                                                <li class="_2tLfDF">
                                                    <a href="dieu-khoan-shop.html" class="_2TLzdl">
                                                        Điều
                                                        Khoản chính sách
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="_1cJlGq footer__menu-column footer__menu-column--social">
                                            <div class="_3T6zcT footer__menu-column-title">Theo dõi chúng tôi trên</div>
                                            <ul class="_1EeFJI footer__menu-column-list fa-ul">
                                                <li class="_2tLfDF">
                                                    <a target="_blank" href="https://facebook.com/MyphamOhuiLGvina"
                                                       class="_2TLzdl">
                                                        <span class="fa-li">
                                                            <i class="fab fa-facebook fa-lg"></i>
                                                        </span>Facebook
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="_1cJlGq footer__menu-column">
                                            <div class="_3T6zcT footer__menu-column-title">
                                                Vào cửa hàng trên ứng dụng Mỹ
                                                Phẩm Ohui - LG Vina
                                            </div>
                                            <div class="mBTmjQ">
                                                <a href="http://hyperurl.co/myohui">
                                                    <img src="https://img.tickid.vn/photos/qrcode_base64/aHR0cDovL2h5cGVydXJsLmNvL215b2h1aQ"
                                                         alt="download_qr_code" class="_2I3jAf">
                                                    <div class="_1zEa4X hidden-xs">
                                                        <img class="QCp2hs"
                                                             src="assets/images/icons/759416b55e2bd69ecc360ee2faab7ad0.png"
                                                             alt="App Store">
                                                        <img class="QCp2hs"
                                                             src="assets/images/icons/2679f513b5f9e235adf2c6c288617e7b.png"
                                                             alt="Play Store">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_2JVXfh footer__info">
                                    <div class="_3Yz4Xr w100-lg">
                                        <div class="_3MSyY6 footer__info-menu-links">
                                            <div class="NddQHI footer__info-menu-link">
                                                <a class="_37K3M6"
                                                   href="index.html"><span>Chính sách bảo mật</span></a>
                                            </div>
                                            <div class="NddQHI footer__info-menu-link">
                                                <a class="_37K3M6"
                                                   href="index.html"><span>Quy chế hoạt động</span></a>
                                            </div>
                                            <div class="NddQHI footer__info-menu-link">
                                                <a class="_37K3M6"
                                                   href="index.html"><span>Chính sách trả hàng và hoàn tiền</span></a>
                                            </div>
                                        </div>
                                        <div class="_36xOTP">
                                            <!-- <a target="_blank" rel="noopener noreferrer" href="#" class="_2GXmQ8">
                                                <div class="footer-vn-background footer-vn-vn_registered_red-png _3Rt1cC"></div>
                                            </a> -->
                                            <!-- <a target="_blank" rel="noopener noreferrer" href="#" class="_2GXmQ8">
                                                <div class="footer-vn-background footer-vn-vn_no_fake_item-png _1UVZKj"></div>
                                            </a> -->
                                        </div>
                                        <div class="_2o2-Fo">
                                            <p style="text-align:center">
                                                <span style="color:#555555">
                                                    <span style="font-size:18px">
                                                        Công ty mỹ phẩm Ohui-
                                                        LGvina
                                                    </span>
                                                </span>
                                            </p>

                                            <p style="text-align:center">
                                                <span style="font-size:18px">
                                                    Chi nhánh: 63 Lê
                                                    Văn Lương, Trung Hòa, Cầu Giấy, Hà Nội
                                                </span>
                                            </p>
                                        </div>
                                        <div class="_2o2-Fo powered-by">
                                            ♥ Powered by <a href="https://abaha.vn/">ABAHA.vn</a> - Nền tảng thiết kế
                                            Web bán hàng online nhanh và chuyên nghiệp nhất
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <script type="text/javascript" src="assets/js/moment.min.js"></script>
                    </div>
                </div>
            </div>
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJBFBLQ" height="0" width="0"
                        style="display:none;visibility:hidden"></iframe>
            </noscript>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.min.js"></script>
    <script src="~/Scripts/jquery-cookie.js"></script>
    <script src="~/Scripts/mainb5b3.js?t=1620299212"></script>
</body>

</html>
